<div class="popupbox">
Please input ISBN10 or ISBN13 numbers,
seperated by a new line.

<form action="check_isbn" method="post">
    <textarea class="txtbox" name="isbn_list" placeholder="Enter ISBN's here." required></textarea><br>
    <button type="submit" class="btn">Check!</button>
</form>
</div>