<html>
  <head>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Anton|Quicksand" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <meta charset="UTF-8">
  </head>
  <body>
    <center>
      <div class="title">ISBN Verification</div><br>
      <%= yield %>

      <br><p id="error_out" class="errormsg"></p>
    </center>
  </body>
</html>